body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    color: white;
    background-color: #222222;
    margin: 0;
    padding: 30px 0;
}


nav ul li {
    display: inline;
    margin-right: 10px;
}
